<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <h3 class="section-subheading text-muted">O P.I.L.A.R apresenta ambientes de realidade virtual onde somos induzidos a desenvolver um novo olhar sobre a rua em que moramos. A imersão traz sensações e interações únicas, para que você solte a imaginação... Pensando uma Incrível, Louca e Amorosa Rua.</h3>
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desafio</h4>
                    <p class="text-muted">A degradação de áreas públicas tem gerado uma série de conseqüências na vida das pessoas. Considerando a influência do ambiente sobre nós, percebemos que quando nossa rua está mal, além de problemas de saúde, acesso e bem-estar, podemos sofrer com o perigoso efeito da estagnação criativa, da limitação no desejo de sonhar, e o pior: desacreditar no poder que cada um tem de gerar transformações.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Propósito</h4>
                    <p class="text-muted">Buscamos de uma forma lúdica, através da VR (Virtual Reality), estimular o uso da imaginação, para fortalecer a percepção de que a rua em que moramos, nosso mundo, pode ser melhor, pode ser fazer diferente! O P.I.L.A.R oferece a seu usuário, opções de equipamentos urbanos criativos, sustentáveis, que podem ser virtualmente inseridos na sua rua, transformando canteiros, calçadas, interfaces de lotes, numa customização simples, fácil, divertida.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Impacto</h4>
                    <p class="text-muted">Como uma coluna de suporte para incríveis edificações - um pilar - nosso P.I.L.A.R vem,  principalmente, fortalecer movimentos sociais de transformação em áreas urbanas e de forma escalável. Procuramos incentivar o desenvolvimento de novas visões de moradores, cidadãos, cidadãs, diante de realidades muitas vezes degradantes, limitantes. É possível ainda, ampliar a atuação dessa experiência de realidade virtual, através da geração de um banco de dados a partir da aplicação do P.I.L.A.R em cada rua, conectando informações diretas sobre prioridades e preferências dos usuários e grupos como os de Placemakers,  setores responsáveis por políticas públicas de urbanismo, entre outros.</p>
                </div>
            </div>
        </div>
    </section>