<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="section-subheading text-muted"><br><br>Projeto resultante do Hackthon de Realidade Virtual da Qualcomm com o Porto Digital, realizado no L.O.U.Co</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/qualcomm-logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/portodigital.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>