<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Como fazer</h2>
                    <h3 class="section-subheading text-muted">Pense e crie você também!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Passo 1</h4>
                                    <h4 class="subheading">Iniciando</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Baixe o APP "P.I.L.A.R." na Play Store e instale</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Passo 2</h4>
                                    <h4 class="subheading">Visualizando</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Abra o aplicativo e insira em algum óculos de realidade virtual, como o Google CardBoard, Daydream, VR Box etc</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Passo 3</h4>
                                    <h4 class="subheading">A Rua</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Escolha a rua de sua preferência. Estarão listadas vias genéricas/padrão e ruas existentes na sua cidade</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Passo 4</h4>
                                    <h4 class="subheading">Pense</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Comece a sua imersão interativa! Adicione, retire e modifique elementos que transformarão a sua rua na rua ideal. Sua experiência no P.I.L.A.R vai alimentar um banco de dados. Desta forma, seus desejos e necessidades prioritários podem se tornar referência para ações de políticas públicas e da sociedade organizada</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Passo 5</h4>
                                    <h4 class="subheading">Compartilhando</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Exporte e compartilhe a sua rua ideal para as redes sociais (Facebook,  Youtube e Twitter). Esta ação é fundamental para que mais usuários se engajem e alimentem o banco de dados enriquecendo e qualificando futuras intervenções, tornando-as exponencialmente mais participativas</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Pense
                                    <br>Imagine
                                    <br>Crie!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>